<div class="werkcontainer" data-category="<%=werk.categorie%>" data-program="<%=werk.program%>" >
    <img src="<%=werk.img %>" alt="<%= werk.title %>">
    <div class="textcontainer">
      <h2 class="title"><%=werk.title %></h2>
      <p class="time"><%=werk.time %></p>
    </div>
    <a href="/detail/<%- index %>">Meer lezen</a>
</div>
